titleStyle {
    font-family: "Helvetica-Light";
    font-size: 30px;
}

bodyStyle {
    font-family: "Helvetica-Light";
    font-size: 20px;
}

.wrap {
   	width:440px;
	margin-left: 20px;
}

.column-left { 
	float: left; 
	width: 250px;
	text-align: right;
}
.column-right { 
	float: right; 
	width: 85px; 
}
.column-center { 
	display: inline-block; 
	width: 85px; 
}

